/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* import local fonts */
@import url("fonts.css");
@import url("footer.css");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight:400;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__docusaurus {
    background-image: url(../../static/img/circle_blur_top-min.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #006578;
  --ifm-color-primary-dark: #005b6c;
  --ifm-color-primary-darker: #005666;
  --ifm-color-primary-darkest: #004754;
  --ifm-color-primary-light: #006f84;
  --ifm-color-primary-lighter: #00748a;
  --ifm-color-primary-lightest: #00839c;
  --ifm-color-secondary:#1483a8;
  --ifm-menu-color-active:var(--ifm-color-secondary);
  --docusaurus-details-decoration-color:#1483a8 !important;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-code-font-size: 95%;
  --ifm-footer-padding-vertical: 40px;
  --ifm-container-width: unset;
  --ifm-container-width-xl: 1440px;
  --ifm-heading-font-family: 'Nunito', sans-serif;
  --ifm-heading-font-weight: 600;
  --ifm-heading-line-height: normal;
  --border-color-hover:#1483a8;
  --ifm-font-color-base:#06182c;
  --ifm-navbar-height:87px !important;
  --ifm-navbar-background-color: #fff;
  --ifm-navbar-search-input-background-color: #fff;
  --ifm-navbar-search-input-icon: url("../../static/img/search.svg");
  --search-local-highlight-color: #1483a8;
  --ifm-footer-background-color:#fafafa;
  --ifm-card-background-color:#fafafa !important;
  --ifm-card-border-radius: 10px;
  --prism-background-color: #fafafa;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4cc2ff;
  --ifm-color-primary-dark: #2bb7ff;
  --ifm-color-primary-darker: #1ab1ff;
  --ifm-color-primary-darkest: #0099e8;
  --ifm-color-primary-light: #6dcdff;
  --ifm-color-primary-lighter: #7ed3ff;
  --ifm-color-primary-lightest: #afe4ff;
  --ifm-color-secondary:#4bb7e4;
  --docusaurus-details-decoration-color:#4bb7e4 !important;
  --ifm-footer-background-color:#06182c;
  --border-color-hover:#4bb7e4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-background-color: #06182c !important;
  --ifm-navbar-background-color: #06182c;
  --prism-background-color:#0a2540 !important;
  --ifm-font-color-base:#fcfcfc;
  --ifm-navbar-search-input-background-color: #06182c;
  --search-local-highlight-color: #053c57;
  --ifm-card-background-color:#0a2540;
  --ifm-color-info-contrast-background: #053c57;
}

@media (min-width:1440px) {
  .navbar__inner, .main-wrapper {width:1440px; max-width:1440px; margin:0 auto; padding-left:32px;padding-right:32px;}
}

nav.navbar {
  box-shadow: none !important;  
  background-image: url(../../static/img/circle_blur_top-min.png);
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

.navbar__inner {max-width:1440px; margin:auto; height:80px;}
.navbar__item {
  font-family:'Nunito', sans-serif;
  font-weight:700;
}

[class^="sidebarViewport"] {position:fixed;border-right: none !important;}
main .container {padding-left:10px;}
[class^="generatedIndexPage"] {padding-left:30px;}

@media (min-width: 997px) {
  .docSidebarContainer_YfHR, aside.[class^="docSidebarContainer"], aside, [class^="docSidebarContainer"] {border-right:none !important;}
  .docItemCol_VOVn { padding-left: 40px !important; }
}
aside [class*="search-wrapper"] { min-width:250px;position: sticky; margin-top: 50px; margin-left:20px;width: 72% !important;}

/* Headings */
h1 {font-size:42px; font-weight:700;}
h2 {font-size:32px;}
h3 {font-size:24px;}
h4 {font-size:20px;}

/* Breadcrumbs */
.breadcrumbs__link {background-color:transparent !important; text-transform: uppercase; font-weight:600;}

/* custom code blocks background */
pre code {background-color: #fafafa;}
[data-theme='dark'] pre code {background-color: #0a2540;}
[data-theme='dark'] [class^="codeBlockTitle"] {background-color: #053c57 !important;}

/* hide external links icon */
.navbar [class^="iconExternalLink"] {display:none;}

/* no wrap class for some table cells to not break the text */
.nwrp {white-space:nowrap;}

/* more space above images in documents */
[class^="docItemContainer"] p img {padding-top:20px;}

/*global links in docs */
p a {color:var(--ifm-color-secondary); text-decoration:underline !important;}
p a:hover {color:var(--ifm-color-primary-darkest);}

/* Sidebar */

[class^="sidebarViewport"] {padding-bottom:30px; padding-top:42px;}
[class^="sidebarViewport"] [class^="sidebar"] {padding-top:20px !important;}

/* Search */
.navbar__search-input {border-radius:5px;border:1px solid #e7e7e7;}
[data-theme='dark'] .navbar__search-input {border-radius:5px;border:1px solid #2f2f2f;}
mark {color:var(--ifm-color-primary); background-color:transparent; font-weight:700;}

/* search-local plugin */
.DocSearch {
    width: 244px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #454849;
    padding: 8px 12px;
    background-color: #fff;
}
[data-theme='dark'] .DocSearch { background-color: #0a2540;}
[data-theme='dark'] .DocSearch:hover { background-color: #242729;transform: scale(1.05);}

[class*="DetachedSearchButton"] { 
  background-color: transparent !important;
  border-radius:8px !important; 
  border-color:#1483a8 !important;
  color:#1483a8 !important;

}

/*codeblock buttons*/
.buttonGroup_M5ko button {color:var(--ifm-color-primary); border-color:var(--ifm-color-primary);}

/* Tables */
table thead {
    background-color: #afcad4 !important;
}

[data-theme='dark'] table thead {
    background-color: #0a2540 !important;
}

/*make left border in TOC for active element*/
.table-of-contents {font-size: 0.9rem;}
.table-of-contents li {
    margin: var(--ifm-toc-padding-vertical);
    margin-left: -1px;
}
.table-of-contents, .table-of-contents ul {padding:0;}
.table-of-contents li {
  padding-left: 0;
}
.table-of-contents li a {
  padding-left:20px;
  display:block;
}

.table-of-contents li li {
  padding-left: 0;
  margin-left:0;
}

.table-of-contents li li a {
   padding-left:30px;
   display:block;
}

a.table-of-contents__link { color: #7e7e7e;}
a.table-of-contents__link:hover { color: #1483a8;}
[data-theme='dark'] a.table-of-contents__link:hover { color: #1483a8;}
.table-of-contents__link--active {
  color: var(--ifm-color-secondary) !important;
  border-left: 1px solid var(--ifm-color-secondary);
}

/* category cards */
a.card:hover {border-color:var(--border-color-hover);}
a.card:hover h2 {color:var(--ifm-color-primary);}

[class^="docCardListItem"] {
    padding: 1px !important;
    border: none !important;
    margin:20px;
    border-radius: 10px !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1483a8), to(rgba(156, 215, 247, 0.1))) !important;
    background-image: linear-gradient(180deg, #1483a8, rgba(156, 215, 247, 0.1)) !important;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
        max-width:300px;

}

.card {
    border-radius: 10px !important;
    border: none !important;
}

.card h2 {font-size:21px;}

[data-theme='dark'] .card:hover {background-color:rgba(10, 37, 64,.6) !important;}


/* custom code highlight in dark mode */
[data-theme='dark'] .token.builtin, [data-theme='dark'] .token.number {color: #d19a66 !important;}
[data-theme='dark'] .token.plain {color:var(--ifm-font-color-base) !important;}
[data-theme='dark'] .token.operator {color: #f57c61 !important;}
[data-theme='dark'] .token.punctuation {color:#Acc6ee !important;}
[data-theme='dark'] .token.function {color:#56b6c2 !important;}
[data-theme='dark'] .token.string {color:#b1b1b1 !important;}

/*Zoom image overlay*/
.medium-zoom-overlay {background:#06182c !important;}


/* Code Block styling */
.theme-code-block pre {
    overflow-y: auto;
    max-height: 600px !important;
    font-size: 15px;
    border-radius:5px;
    scrollbar-width: thin;
}

/* Tables */
table, tr, td, th {border:none !important;}
th {border-left:1px solid #808080 !important;}
thead {justify-items:space-between;border:1px solid #808080; border-radius: 5px !important;}
td {border-right:1px solid #808080 !important;}
td:last-child {border:none !important;}

/* prev/next bottom article navigation - pagination */
[data-theme='dark'] .pagination-nav__link {border-color:#0a2540;}
.pagination-nav__link {border-color:#e4e4e4;}
.pagination-nav__sublabel {font-size:12px;}
.pagination-nav__label {color:var(--ifm-font-color-base); font-weight:400;}
[data-theme='dark'] .pagination-nav__label {color:#4bb7e4; font-weight:400;}
.pagination-nav__link--prev {text-align:right;}
.pagination-nav__link--next {text-align:left}
.pagination-nav__link--prev .pagination-nav__label:before, .pagination-nav__link--next .pagination-nav__label:after {content: '';}
.pagination-nav__link--prev {background:url("/img/chevron-left-n.svg") left 15px center no-repeat; padding-left:30px; background-size:14px;}
.pagination-nav__link--next {background:url("/img/chevron-right-n.svg") right 15px center no-repeat; padding-right:30px; background-size:14px;}
.pagination-nav__link--prev:hover {background-image:url("/img/chevron-left-hl.svg");}
.pagination-nav__link--next:hover {background-image:url("/static/img/chevron-right-hl.svg");}
[data-theme='dark'] .pagination-nav__link--prev {background-image:url("/img/chevron-left-nd.svg");}
[data-theme='dark'] .pagination-nav__link--next {background-image:url("/img/chevron-right-nd.svg");}
[data-theme='dark'] .pagination-nav__link--prev:hover {background-image:url("/img/chevron-left-hd.svg");}
[data-theme='dark'] .pagination-nav__link--next:hover {background-image:url("/img/chevron-right-hd.svg");}
.pagination-nav__link:hover {border-color:var(--border-color-hover);}
.pagination-nav__link:hover .pagination-nav__label {color:var(--ifm-color-primary);}

/*Redocusaurus styles*/

.redocusaurus li, .ffByKO,.loUffO, .jBhhMS, .AAMFK, .jCDqjU, .cmtvuI, .ljdTKq, .lkUQit, .duQWOb, .ejcEzX {font-size:15px !important; padding: 5.7px 11px !important; border-radius:.25rem !important;}

.scrollbar-container {padding-right:10px !important;}

.ecAFBR, .jjBafN, .ggWVOq {background-color: #0a2540 !important;}
.iuiJbL {background-color: transparent !important;}
.redocusaurus .redoc-wrap {border-bottom:none !impqjUortant;}
.redocusaurus .menu-content {
    background-color: transparent !important;
}
.redocusuaurs li label, .redocusuaurs li label.hFnaAI, .redocusuaurs li label.jCDqjU, .jCDqjU, .ejcEzX  {background-color:#06182c !important;}
.duQWOb {background-color:#06182c !important; color: #4bb7e4 !important;}
/*.duQWOb.active {background-color:#0a2540 !important;}*/
.cmtvuI {background-color: #0a2540 !important;}
.redocusaurus li label:hover {background-color:rgba(100,100,100,.1) !important;}
.redocusuaurs li label.erWzbJ {color: #4bb7e4 !important;}
.cHPyGt {border-width:0 !important;}


/*Footer*/
footer {border-top:none; background-color:transparent;}
.footer__copyright {color:var(--ifm-font-color-base);}
footer [class^="iconExternalLink"] {display:none;}
footer a:hover {text-decoration:none;}

[data-theme='dark'] img.fut-log {
  content: url(/img/logomark_footer.svg);
}

.navbar__inner [class^="navbarSearchContainer"] {display:none;}

/*plugin-image-zoom level fix*/
.medium-zoom-overlay { opacity: .92 !important; z-index:200; }
.medium-zoom-image--opened { z-index:201; }

@media (max-width:996px) {
.homeContainer h1 {font-size:37px; }
.navbar__inner [class^="navbarSearchContainer"] {display:block;}
}

@media (max-width:480px) {
  .homeContainer h1 {font-size:30px; }
  .navbar__title {display:none;}
  .lgo { flex-direction:column; }
}

