@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-VariableFont_wght.woff2') format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.woff2') format("woff2");
    font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Bold.woff2') format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Italic.woff2') format("woff2");
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-BoldItalic.woff2') format("woff2");
  font-weight: 700;
  font-style: italic;
}