/* top navbar */
nav {box-shadow:none !important;}
.navbar { 
  font-size: 20px;
  font-weight:400;
  color:#fff;
}
.navbar a {
  color:var(--ifm-color-white);
}
.navbar__inner {max-width:1180px; margin:auto; height:80px;}
.navbar__item {
  font-family:'Nunito', sans-serif;
  line-height:20px;
  font-weight:400;
  padding:18px 12px 6px 12px;
  margin:0px auto;
}

a.navbar__item:hover {
  color:var(--ifm-color-secondary);
}

.navbar__logo img {height:40px;}

a.menu__link, a.navbar__link {font-weight:400 !important;}
a.menu__link:hover, a.navbar__link:hover {background-color: transparent; color:var(--ifm-color-secondary);}
.dropdown > .navbar__link:after {display:none;}

/* Navbar Drop-down menu styles */
.dropdown__menu { box-shadow: 0px 27px 44px 0px rgba(160, 160, 160, .3); border-radius:0; padding:0px; padding-top:24px; background-color:transparent; margin-left: -100px;}  
.drop-cont {display:flex;padding:20px 10px; background-color: #fff;} 
.drop-col-1, .drop-col-2 {width:50%;color: #656c7f; padding:10px 20px; font-size:14px; min-width:350px;} 
.drop-col-2 {padding-left:30px;border-left:1px solid #afb4c3;}
.col-lbl {font-size:14px;}  
a.drlink {text-decoration:none; color:var(--ifm-color-primary); font-size:20px; padding:15px 0px; display:inline-block;}  
a.drlink:hover {text-decoration:none; color:#4bb7e4;}  
.drop-list {list-style-type:none; padding-left:0; margin-left:0; margin-top:0;} 
.drop-list li {margin-top:10px;} 
.coblk {color:#000}

#drp-solutions .drop-col-2  {min-width:300px}
#drp-cases .drop-col-1, #drp-cases .drop-col-2  {min-width:400px;}

/* Landing page box styles */
.featureBox { 
  padding: 60px 20px 40px 20px; 
  border: 1px solid var(--ifm-color-primary); 
  border-radius:20px;
  max-width:380px; 
  min-height:280px;
}
.featureBox a:hover, a:hover {text-decoration: none; color:var(--ifm-color-secondary);}

[class^="features"] .col--4 {padding:0 10px !important;}

/* Navbar Sidebar (mobile mode) */
.navbar-sidebar {background-color:#fff;color:var(--ifm-color-primary); font-size:25px;}
.navbar-sidebar a {color:var(--ifm-color-primary); }
.navbar-sidebar .navbar__logo img {content:url("../../static/img/Silo-logo.svg");}
.navbar-sidebar li[class*="collapsed"] {background-color:transparent !important; color: var(--ifm-color-primary);}

/* sidebar */
li[class*="sidebar"] a.menu_link {color:#7f8699; font-weight:400 !important;}
li[class*="sidebar"] a[class*="active"] {color:#4a5162; }
.menu__link--sublist-caret.menu__link--active, .menu__link--sublist.menu__link--active  {color:#4a5162; font-weight:700 !important;}
li[class*="level-1"] > div.menu__list-item-collapsible > a.menu__link--sublist-caret.menu__link--active {font-weight:500 !important;color:#4a5162 !important;}


/* Local Search */
.navbar__search-input {border: 1px solid #656c7f;}
.navbar__search[class*="focused"] {outline-color: #fff !important;}
html.plugin-pages .navbar__search {margin-left:0px !important; }
.navbar__search [class^="dropdownMenu"] {border-radius:20px !important; background: #ffffff !important;}
.srch-hero .navbar__search [class^="dropdownMenu"] {right:auto !important; left:auto !important;}
input[class^="searchQuery"] {border-radius:20px;}
div[class^="suggestion"] {text-align:left !important; box-shadow:none !important; border-radius:0px !important; border-bottom: 1px solid #e0e3e9 !important;}
div[class^="suggestion"] [class^="hitWrapper"] {font-weight:400 !important;}
div[class^="suggestion"] [class^="hitIcon"] {display:none !important;}
div[class^="suggestion"] [class^="hitTitle"] {color:#3D4352 !important;}
div[class^="suggestion"] [class^="hitWrapper"]:hover [class^="hitTitle"] {color:#242833 !important;text-decoration:underline;}
div[class^="suggestion"] [class^="hitWrapper"]:hover [class^="hitTitle"] mark {color:#242833 !important;text-decoration:underline;}
div[class^="suggestion"] [class^="hitWrapper"]:hover [class^="hitPath"] {color:#7f8699 !important;}
div[class^="suggestion"] [class^="hitPath"] {color:#7f8699 !important;}
div[class^="suggestion"] [class^="hitAction"] {display:none !important;}
[class^="hitFooter"] a {color:#8fd6ff !important; text-decoration:none !important;}
[class^="hitFooter"] a:hover {color: var(--ifm-color-secondary) !important;}
/*[class^="hitFooter"] a:after {content:url("../../static/img/right-arrow-s.svg"); padding-left:5px; line-height:17px !important; height:17px !important;}*/
mark { color:#242833 !important; font-weight: 700 !important; background-color:transparent !important; }

/* All Search Results Page */
article[class^="searchResultItem"] {border-bottom:0px !important;}
article[class^="searchResultItem"] h2 a {color:#242833 !important;}
article[class^="searchResultItem"] h2 a:hover {text-decoration:underline;}
article[class^="searchResultItem"] p {color:#7f8699; font-style:normal !important; font-size:16px;}
p[class^="searchResultItemPath"] { font-size:14px !important; }

/* Footer */
.footer__links {padding-top:40px; border-top: 2px solid #d8ece0; margin-bottom:0px; }
.footer__title { color: var(--ifm-color-primary); font-family: 'Nunito', sans-serif; font-weight: 700;}
.footer__item a:hover {text-decoration: none; color:var(--ifm-color-primary-lightest);}
.footer__col:nth-last-child(2) {margin-bottom:40px;}
.footer__col:last-child {flex-basis: 100%; width:100%; border-top: 2px solid #d8ece0; padding-top:40px; }
.footer__copyright {font-size:14px; padding-bottom:20px}

.elementor-grid {
    margin:0px auto;
    grid-column-gap: 30px;
    justify-content: center;
    display:flex !important;
    flex-direction: row;
}
.elementor-grid-item svg {
   width: 22px;
   fill: var(--ifm-color-primary);
}


@media (max-width: 1439px) and (min-width: 997px) {
  [class^="features"] .row { margin: 0 auto !important; justify-content:center !important;}
}

@media (max-width: 1300px) and (min-width: 997px) {
  #drp-solutions .drop-col-1  {min-width:300px}
  #drp-solutions .drop-col-2  {min-width:250px}
  #drp-cases .drop-col-1, #drp-cases .drop-col-2  {min-width:370px;}
}

@media (max-width: 1245px) and (min-width: 997px) {
  .navbar { font-size: 18px;}
  .navbar__item { margin:0px 5px;}
  .drop-col-1, .drop-col-2 {min-width:300px;}
}

@media (min-width: 997px) {
  section[class^="features"] {margin-top:50px; margin-bottom:30px;}
  a#login {padding: 15px 20px; border: 1px solid var(--ifm-color-white); border-radius: 40px; font-size:16px; line-height:16px; margin-top:15px; margin-left:10px;}
  a#signup {padding: 15px 20px; border-radius: 40px; background-color:var(--ifm-color-secondary); color: var(--ifm-color-primary); line-height:16px; margin-top:15px; border-color:var(--ifm-color-secondary);font-size:16px; margin-right:0px;margin-left:30px;} 
  .menu { min-width: 23em;} /*more space for the left sidebar menu*/

  /* Navbar Logo */
  .navbar__brand { padding-left:5px; padding-top:5px;}

  /* landing page search title */
  html.plugin-pages .navbar__search-input { width:32em;}
  html.plugin-pages .navbar__search { width:32em; margin-left:auto !important; margin-right:auto !important;}
 
  /* Search in Sidebar */
  .navbar__items  {flex-basis:100%; width:100%; justify-content: space-between;}
  html.plugin-docs .navbar__items { margin-bottom: 5px;}
  html.plugin-docs .navbar__search [class^="dropdownMenu"] {left:0px !important;}

  [class^="sidebarViewport"] {padding-bottom:30px; padding-top: 120px;}
  [class^="sidebarViewport"] .navbar__search-input {width:20.5rem;}
  [class^="sidebarViewport"] [class^="searchBar"] [class^="dropdownMenu"] {width:unset !important;}
  [class^="sidebarViewport"] [class^="sidebar"] {padding-top:20px !important;}

  /*hide search in navbar on wide screens */
 .navbar__items .navbar__search {display:none;}

  /* Search styles */
  button.DocSearch {width:330px; margin:130px auto auto!important; border: 1px solid var(--ifm-color-primary-lightest) !important;z-index:10}
  html.plugin-native button.DocSearch {margin-top:40px !important;}
  html.plugin-docs button.DocSearch {width:320px; margin:90px 0 0 0 !important;}

  .pagination-nav__label { font-size:25px;}

}

@media (max-width: 996px) {
  :root {--ifm-navbar-height: 82px; --search-local-modal-width: 21em;}
  .navbar__logo {margin-top: -5px;}
  .featureBox {margin: 20px auto;}
  button.navbar__toggle {position:absolute; top:25px; right:25px;}
  button.DocSearch {position:absolute; top:-18px; right:55px;}
  .drop-cont {flex-direction: column;} 
  .drop-col-1, .drop-col-2 {width:100%; border:0px; padding:0 0 0 10px;}
  a.drlink {padding:5px 0px; font-size:15px;}
  .drop-list li span, .col-lbl,.drop-list br, .drop-col-f {display:none;}
  .drop-cont {padding:0px; flex-wrap:wrap;}
  .drop-cont li {margin:0px;}
  /*html.plugin-pages .navbar__search [class^="dropdownMenu"] {left:-55vw !important;}*/
  [class$="show-secondary"] {font-size:16px;}

  /*hide search bar in sidebar and in hero area on mobile */
  html.plugin-pages .navbar__items .navbar__search {display:none;}
  [class^="sidebarViewport"] .navbar__search {display:none;}
  a.pagination-nav__link.pagination-nav__link--prev,  a.pagination-nav__link.pagination-nav__link--next{ padding:20px; }
  .footer__col { margin-bottom: calc(var(--ifm-spacing-vertical)* 1); max-width:25% !important;}
  .footer__col:last-child {max-width:100% !important;  }
  .hero .navbar__search-input {width:23em !important;}
  .hero__title {font-size: 2.3rem;}
  .navbar__items--right>:last-child { margin-right: 3rem;}
}

@media (max-width: 576px) {
   [class^="searchBar"] [class^="dropdownMenu"] {
        max-width: 60vw !important;
    }
}

@media (max-width: 540px){
.hero__title {font-size:2rem;}
.footer__col { max-width:50% !important;}
.footer__col:last-child {max-width:100% !important;}
.hero [class^="searchBar"] [class^="dropdownMenu"] {max-width:100% !important;}
}

@media (max-width: 480px){
  .hero .navbar__search-input:not(:focus),.hero .navbar__search-input {width:100% !important;}
  .hero .container {padding:0;}
  .hero__title {font-size: 1.3rem;}
  a.pagination-nav__link.pagination-nav__link--prev,  a.pagination-nav__link.pagination-nav__link--next{ padding:5px; }
  body {font-size:14px;}
}

